<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
        <h1 class="title has-text-centered">{{title}}</h1>

        <div class="field">
          <label>Length</label>
          <input class="input" (input)="onLengthChange($event.target)"/>
        </div>

        
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input 
                type="checkbox" 
                [value]="useLetters"
                (change)="onUseLettersChange()"
              />
              Use letters
            </label>
          </div>
        </div>
        
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input
                type="checkbox"
                [value]="useNumbers"
                (change)="onUseNumbersChange()"
              />
              Use numbers
            </label>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input 
                type="checkbox"
                [value]="useSymbols"
                (change)="onUseSymbolsChange()"
                />
                Use symbols
              </label>
            </div>
          </div>

        <button 
          [disabled]="!(passwordLength && (useLetters || useNumbers || useSymbols))"
          class="button is-link is-fullwidth"
          (click)="onGenerateButtonClick()"
        >Generate</button>

        <div class="box" *ngIf="generatedPassword">
          <label>Your Password</label>
            <input 
              class="input"
              [value]="generatedPassword"
            />
        </div>
    </div>
  </div>
</div>
